<% @users.each do |u|%>
<div class = "border border-secondary mt-2  d-flex justify-content-center d-inline-flex p-2" >
    <div class="avatar">
      <% if u.avatar.attached? %>
        <%= image_tag u.avatar, height: 100, width: 100, class: "avatar-index rounded-circle" %>
      <% else %>
        <%= image_tag 'icon.png', height: 100, width: 100 %>
      <% end %>
    </div>

    <%=link_to u.email.split("@")[0], userssearch_path(u), class: "pl-2", style: "padding-top: 25%"%>
</div>
<% end %>