/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "rails_bootstrap_forms";
@import "bootswatch/dist/pulse/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/pulse/bootswatch";
.alert-dismissible {
    padding-left: $close-font-size + $alert-padding-x * 2;
  }
.card{border-radius: 25px;}
.card-body{border-radius: 25px;}
*{padding-bottom: 2px; color:white !important;}
// this is making all bodys black. I'm replacing it. Style individually if needed?
//body{background-color:#121212; height: 100%;}
html{height: 100%;}
.login{margin: 0 auto; border: 0px;}
// this is making all cards black. I'm removing it. Style individually if needed?
// .card{background-color: #121212;}
.like-button{
  text-decoration: none;
  border-radius: 10px;
  display: inline-flex;
  background-color: #6610f2;
  border: 2px solid;
  color: white;
  transition: all 0.2s linear 0s;
  margin-top: 3px;
  margin-left: -2px;
}
.like-button:hover {
  background-color: #2b0568 !important;
  color: white;
  
}
